#grid { 
  display: grid;
/*
  display: inline-grid
*/
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 5vw;
  height: 100vh;
  margin: 0;
  }
#grid > div {
  font-size: 5vh;
  padding: .5em;
  background: gold;
  text-align: center;
}
