/*------------------------------------*/


@media all and (max-width: 1240px) {

* {
	font-size: 48px;
}


}



body {
	background: #F7EBA8;
	padding: 20px;
	border: 10px solid #27A150;
	border-radius: 10px;
}


#app {
	display: grid;
	grid-template-rows: 60px minmax(100px, 500px) 60px ;
	grid-gap: 30px;
}
/*
 * 
	grid-template-rows: 100px minmax(100px, auto) 70% 30px ;
	align-content: end;
 * 
 * */



.app__list{
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	overflow: scroll;
}


.app__list-item{
	background: #EE8455;
	text-align: left;
	padding-left: 20px; 
	margin: 10px
}

.app__list_my{
/*
	background: #F0976F;
	*/
	background: #FCB190;
	
	text-align: right;
	padding-right: 20px; 
	margin: 10px
}



	

	.chat__input{
		padding: 10px;
		box-shadow: 0 3px 20px red;
		
	}


h2{
	margin: 0px;

}

#page_title {
	border: 3px solid #27A150;
	border-radius: 10px;
	text-align: center;
}


/* Анимации появления и исчезновения могут иметь */
/* различные продолжительности и динамику.       */
/*
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
*/
/* .slide-fade-leave-active до версии 2.1.8 */ 

/*
{
  transform: translateX(10px);
  opacity: 0;
}
*/
